@import '../../scss/_variables.scss';
@import '../../scss/_common.scss';

.wrapper {
    margin-bottom: 20px;

    div {
        @include cursor;
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 18px;

        &:hover {
            color: $primary;
        }

        .icon {
            margin-right: 8px;

            &.open {
                transform: rotate(90deg);
            }
        }
    }

    ul {
        font-size: 16px;
        margin-top: 10px;
        padding-left: 24px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.15s linear;

        li {
            padding-bottom: 10px;
        }
    }
}
