@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');
//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 62.5%;
    font-family: 'Fredoka', sans-serif;
    color: #272a2f;
}

span {
    display: block;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: 500;
}

select {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input {
    border: none;
    outline: none;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
