@import '../../../../scss/_variables.scss';

.wrapper {
    display: flex;
    padding: 50px 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://cdn.otstatic.com/cfe/14/images/dtp-tablet-de6f07.png');
}

.title {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
