@import '../../scss/_variables.scss';
@import '../../scss/_common.scss';

.wrapper {
    display: flex;

    .inputs-wrapper {
        display: flex;
        padding: 0 8px;
        border-radius: 8px;
        border: 1px solid $primary;
        background-color: #fff;
        min-width: 550px;
    }

    .search-btn {
        // height: 100%;
        margin-left: 20px;
    }
}
.icon {
    font-size: 2.4rem;
}

.icon.clear {
    @include cursor;
}

.search-wrapper,
.select-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.select {
    padding: 10px 20px 10px 10px;
    font-size: 1.6rem;

    & > * {
        width: 100%;
        padding: 6px 10px;
    }
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
}
