<aside>
    <form class="reservation-form" [formGroup]="bookingForm">
        <p class="title">Make a reservation</p>

        <div class="input">
            <label for="size">Party size</label>
            <input id="size" type="number" [placeholder]="'2 ~ 10 (people)'" formControlName="numberOfGuests" />
        </div>
        <div class="input">
            <label for="size">Date</label>
            <input id="size" type="date" formControlName="date" />
        </div>
        <div class="input">
            <label for="size">Time (8:00 AM ~ 12:00 PM)</label>
            <input id="size" type="time" formControlName="time" />
        </div>

        <app-button [primary]="true" (click)="onBooking()">BOOK</app-button>
    </form>

    <div class="additional">
        <div>
            <p><ng-icon class="icon" name="ionLocationOutline" />Location</p>
            <p>{{ restaurant.address }}</p>
        </div>
        <div>
            <p><ng-icon class="icon" name="ionTimeOutline" />Hours of operation</p>
            <p>{{ restaurant.openTime }} ~ {{ restaurant.closeTime }}</p>
        </div>
        <div>
            <p><ng-icon class="icon" name="ionPhonePortraitSharp" />Phone number</p>
            <p>{{ restaurant.phoneNumber }}</p>
        </div>
        <div *ngIf="restaurant.cuisines">
            <p><ng-icon class="icon" name="circumForkKnife" />Cuisines</p>
            <p>Vietnamese</p>
        </div>
        <div>
            <p><ng-icon class="icon" name="circumMoneyCheck1" />Payments</p>
            <p>{{ restaurant.payments.join(', ') }}</p>
        </div>
    </div>
</aside>
