@import '../../scss/_common.scss';
@import '../../scss/_variables.scss';

.wrapper {
    @include cursor;
    border: none;

    display: flex;
    justify-content: center;
    width: 100%;
    color: $text-color;
    padding: 10px 16px;
    font-size: 1.6rem;
    border-radius: 6px;
    background-color: transparent;

    &--primary {
        @extend .wrapper;
        color: #fff;
        background-color: $primary;

        &:hover {
            background-color: $primary--blur;
        }
    }

    &--outlined {
        @extend .wrapper;
        color: $primary;
        border: 1px solid $primary;

        &:hover {
            color: $text-color;
            background-color: $primary--blur;
        }
    }
}
