@import '../../scss/_variables.scss';
@import '../../scss/_common.scss';

.wrapper {
    @include shadow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo-wrapper {
    display: flex;
    align-items: center;

    .name {
        color: $primary;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: 2px;
        margin: 0;
        margin-left: 6px;
    }

    .logo-image {
        width: 36px;
    }
}

.button-wrapper {
    display: flex;

    & > *:first-child {
        margin-right: 10px;
    }
}

.icon {
    font-size: 30px;
}
