<div class="wrapper">
    <div class="restaurant-img">
        <img src="https://resizer.otstatic.com/v2/photos/wide-huge/3/51669570.webp" alt="restaurant-image" />
        <app-button class="save-btn">
            <ng-icon class="save-icon" name="ionBookmarkOutline" />Save this restaurant
        </app-button>
    </div>

    <div class="content">
        <main>
            <ul class="header">
                <li (click)="onScrollToSection('overview')">Overview</li>
                <li (click)="onScrollToSection('photo')">Photos</li>
                <li (click)="onScrollToSection('menu')">Menu</li>
                <li (click)="onScrollToSection('review')">Reviews</li>
            </ul>

            <h1 id="overview" class="restaurant-name">La Sen</h1>

            <div class="overview">
                <p>
                    <ng-icon class="icon" name="circumChat1" />
                    5 Reviews
                </p>
                <p>
                    <ng-icon class="icon" name="circumMoneyBill" />
                    {{ 30 | currency }} ~ {{ 50 | currency }}
                </p>
                <p>
                    <ng-icon class="icon" name="ionPersonOutline" />
                    2 ~ 10
                </p>
            </div>

            <p class="desc">
                At our breezy beachside restaurant, linger over Asian comfort food and contemporary interpretations of
                Vietnamese classics.
            </p>

            <div id="menu" class="section menu">
                <h1 class="title">Menu</h1>
                <app-drop-down name="Main dish" [items]="['Cheese Hamburger', 'Tomato Pizaa']" />
            </div>

            <div id="review" class="section review">
                <h1 class="title">Reviews</h1>
            </div>
        </main>

        <aside>
            <form class="reservation-form" [formGroup]="bookingForm">
                <p class="title">Make a reservation</p>

                <div class="input">
                    <label for="size">Party size</label>
                    <input id="size" type="number" [placeholder]="'2 ~ 10 (people)'" formControlName="size" />
                </div>
                <div class="input">
                    <label for="size">Date</label>
                    <input id="size" type="date" formControlName="date" />
                </div>
                <div class="input">
                    <label for="size">Time</label>
                    <input id="size" type="time" formControlName="time" />
                </div>

                <app-button [primary]="true" (click)="onBooking()">BOOK</app-button>
            </form>

            <div class="additional">
                <div>
                    <p><ng-icon class="icon" name="ionLocationOutline" />Location</p>
                    <p>Thu Duc, Ho Chi Minh city</p>
                </div>
                <div>
                    <p><ng-icon class="icon" name="ionTimeOutline" />Hours of operation</p>
                    <p>8:00 AM ~ 12:00 PM</p>
                </div>
                <div>
                    <p><ng-icon class="icon" name="circumForkKnife" />Cuisines</p>
                    <p>Vietnamese</p>
                </div>
                <div>
                    <p><ng-icon class="icon" name="circumMoneyCheck1" />Payments</p>
                    <p>Credit card, Visa, Cash</p>
                </div>
            </div>
        </aside>
    </div>
</div>
