@import '../../scss/common';

.wrapper {
    // @include shadow;

    margin: auto;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 500;
}
