<main *ngIf="restaurant">
    <ul class="header">
        <li class="overview" (click)="onScrollToSection('overview')">Overview</li>
        <li class="photo" (click)="onScrollToSection('photo')">Photos</li>
        <li class="menu" (click)="onScrollToSection('menu')">Menu</li>
        <li class="review" (click)="onScrollToSection('review')">Reviews</li>
    </ul>

    <h1 id="overview" class="restaurant-name">{{ restaurant.name }}</h1>

    <div class="overview">
        <p>
            <ng-icon class="icon" name="circumChat1" />
            5 Reviews
        </p>
        <p>
            <ng-icon class="icon" name="circumMoneyBill" />
            {{ price[0] | currency }} ~ {{ price[1] | currency }}
        </p>
        <p>
            <ng-icon class="icon" name="ionPersonOutline" />
            {{ restaurant.reservationSize }}
        </p>
    </div>

    <p class="desc">
        At our breezy beachside restaurant, linger over Asian comfort food and contemporary interpretations of
        Vietnamese classics.
    </p>

    <div id="menu" class="section menu">
        <h1 class="title">Menu</h1>
        <app-drop-down *ngFor="let category of restaurant.menu" [name]="category.category" [items]="category.items" />
    </div>

    <div *ngIf="isLogedin" id="review" class="section review">
        <h1 class="title">Reviews</h1>
        <!-- If user reviewed restaurant, display user review,. If not show the form -->
        <app-restaurant-review-form *ngIf="!yourReview" (userReview)="onUserReview($event)" />
        <div *ngIf="yourReview" class="your-review">
            <p>Your review</p>
            <app-restaurant-review [reviewData]="yourReview" />
        </div>

        <div class="filter">
            <p>50 reviews</p>
            <select #filter (change)="onFilterChange(filter.value)">
                <option value="newest">Newest</option>
                <option value="latest">Latest</option>
            </select>
        </div>

        <div *ngIf="reviews && reviews.length > 0">
            <app-restaurant-review *ngFor="let review of reviews" [reviewData]="review" />
        </div>
    </div>
</main>
