@import '../../scss/common';
@import '../../scss/variables';

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    @include shadow;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input-wrapper {
    @include input-icon;
}

.form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.input-wrapper {
    border: 1px solid #ccc;
    padding: 10px 16px;
    display: flex;
    align-items: center;

    &:not(&:last-child) {
        margin-bottom: 10px;
    }

    &:has(.input:focus),
    &:has(.input:valid),
    input:focus,
    input:valid {
        background-color: #f8eaeb;
    }

    .icon {
        font-size: 20px;
        margin-right: 10px;
    }

    .input {
        width: 100%;
        font-size: 16px;
    }
}

.submit-btn {
    margin-top: 16px;
}

.helper {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #8f8f8f;

    span {
        @include cursor;
        color: $primary;
        text-decoration: none;
    }
}

.separate {
    height: 1px;
    margin: 30px 0;
    background-color: #ccc;
    position: relative;

    span {
        padding: 0 8px;
        font-size: 16px;
        color: #a5a5a5;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.social-wrapper {
    display: flex;

    & > * {
        flex: 1;
    }

    .social-name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin: 0;
    }

    .icon {
        margin-right: 10px;
    }
}
