<div class="wrapper">
    <div class="content">
        <form class="form" #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
            <h1 class="title">{{ authType | uppercase }}</h1>

            <div *ngIf="authType === 'register'" class="input-wrapper">
                <ng-icon class="icon" name="ionPersonOutline" />
                <input required class="input" type="text" placeholder="Username" formControlName="usernmae" />
            </div>

            <div class="input-wrapper">
                <ng-icon class="icon" name="ionMailOutline" />
                <input required class="input" type="text" placeholder="Email" formControlName="email" />
            </div>

            <div class="input-wrapper">
                <ng-icon class="icon" *ngIf="!pwTyping" name="ionLockClosedOutline" />
                <ng-icon class="icon" *ngIf="pwTyping && !pwShow" name="ionEyeOutline" (click)="onShowPassword()" />
                <ng-icon class="icon" *ngIf="pwTyping && pwShow" name="ionEyeOffOutline" (click)="onShowPassword()" />
                <input
                    required
                    #pwInput
                    class="input"
                    type="password"
                    placeholder="Password"
                    (input)="onPasswordChange($event)"
                    formControlName="password"
                />
            </div>

            <app-button class="submit-btn" [primary]="true">SUBMIT</app-button>
        </form>

        <div *ngIf="authType === 'login'" class="separate"><span>Or</span></div>

        <div *ngIf="authType === 'login'" class="social-wrapper">
            <app-button (click)="onLoginGoogle()">
                <p class="social-name">
                    <ng-icon class="icon" name="ionLogoGoogle" />
                    Log in with Google
                </p>
            </app-button>
        </div>

        <p *ngIf="authType === 'login'" class="helper">
            You don't have an account yet?
            <span (click)="onChangeAuthType('register')">create one</span>
        </p>

        <p *ngIf="authType === 'register'" class="helper">
            You had an account already?
            <span (click)="onChangeAuthType('login')">Log in</span>
        </p>
    </div>
</div>
