@import '../../../../scss/_common.scss';
@import '../../../../scss/_variables.scss';

form {
    font-size: 16px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    p {
        margin: 0;
        width: 150px;
        font-weight: 500;
        margin-right: 20px;
    }

    .rate,
    .content {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .rate {
        & > div {
            flex: 1;
            display: flex;
            justify-content: space-between;
        }

        .input {
            label {
                margin-right: 6px;
            }

            input {
                font-size: 16px;
                max-width: 70px;
                border: 1px solid #ccc;
                padding: 6px 10px;
            }
        }

        .input:not(.input:last-child) {
            margin-right: 20px;
        }
    }

    .content {
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: flex-start;

        textarea {
            flex: 1;
            padding: 0 10px;
            border: 1px solid #ccc;
            font-size: 16px;
        }
    }

    .submit-btn {
        float: right;
    }
}
